/*I planned a lot of my colors in Figma */
/*I found a color palette that I liked and stuck with it*/
:root {
 /* I used one of my favorite albums for a color palette, using https://coolors.co/ to transfer it into a palette. */
--prussian-blue: #073754ff;
--cinereous: #A58F8Aff;
--outer-space: #495358ff;
--paynes-gray: #4D768Bff;
--azure-web: #E3F1F3ff;
--burnt-umber: #7B3B27ff;
}

.banner {
    background: var(--prussian-blue);
    background-image: url
}