/*I planned a lot of my colors in Figma */
/*I found a color palette that I liked and stuck with it*/
* {
    box-sizing: border-box;
  }


:root {
 /* I used one of my favorite albums for a color palette, using https://coolors.co/ to transfer it into a palette. */
--pb: #073754ff;
--cin: #A58F8Aff;
--os: #495358e0;
--pg: #4D768Bff;
--aw: #E3F1F3ff;
--bu: rgb(228, 90, 48);
--wh: #ffffff; 
--ss: #FDD08F;
--bl: #000;
}


body {
    margin: auto;
    padding: auto;
    /*switched to arial for my primary font, it is the most professional in my opinion*/
    font-family: Arial, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Trebuchet MS', sans-serif;
    color: var(--wh);
    background-color: var(--pg);
    line-height: 1.2;
}


/*Header stuff*/


header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: var(--bu);
    background-image: url("../images/odeszabackground.jpg"); /*image I found on google*/
    background-size: cover;
    min-height: 100vh;
    
    
}
    

header h1 {
    position: absolute;
    font-size: 3rem;
    top: 55% ;
    left: auto;

}

nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 65%;
    left: auto;
    
}

nav a {
    padding: 2px 40px;
    font-size: 28px;
    color: var(--wh);
    display: inline-block;
    
}


nav a:hover {
    color: var(--cin);
}

/*Originally had set to auto for margins, read that it should be 0, reference codes also use 0*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--bu);
}

p {
    margin: 0;
}

.flex-box {
    display: flex;
    justify-content: center;
}

.contact-header {
    display: inline-block;
    color: var(--aw);

}

.contact-header:hover {
    color: var(--cin)
}



.main-body {

}


.personal {
justify-content: center;
flex-direction: row;
}

.personal h2 {
    display: flex;
    justify-content: center;
    font-size: 300%;
    text-decoration-line: underline ;

}

.personal p {
    justify-content: center;
    max-width: 67%;
    padding-top: 10px;

}